<p>
    <strong>Title:</strong>
    <%= @article.title %>
</p>

<p>
    <strong>Text:</strong>
    <%= @article.text %>
</p>


<h2 style="color:#FDB927;font-family: Verdana;">Comments:</h2>
<%= render @article.comments %>

<br><br>
<h2 style="color:#FDB927;font-family: Verdana;">Add a comment:</h2>

<%= render 'comments/form' %>

<%= link_to 'Article List', articles_path %>
